/* forgotpassword.css */
.forgot-password-image {
    flex: 1;
  }
  
  .forgotimg {
    max-width: 130%; /* Adjust as needed */
    margin-top: -100px;
  }

  .arrowdata{
    font-size: 30px;
  }

.back-link{
    margin-left: -330px;
}

.forgotheading{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: bold;
    margin-top: 40px !important;
    margin-left: -150px;
}

.textdata{
    color:rgb(180, 174, 174);
    margin-left: 40px;
    margin-top: 20px;
    display: inline;
    white-space: pre;
}

.textdata1{
    color:rgb(180, 174, 174);
    margin-left: -206px;
    margin-top: -1px;
    ;

}

/* forgotpassword.css */
.forgot-password-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px; /* Adjust as needed */
  }
  
  .forgot-password-image {
    flex: 1;
  }
  
  .forgot-password-form {
    flex: 1;
    padding: 0 20px; /* Adjust padding as needed */
    margin-left:90px
  }
  
  .forgotheading {
    margin-top: 0; /* Reset margin */
  }
  
  /* .textdata {
    margin-top: 20px; /* Adjust as needed */
  /* } */ 

  .email-input {
    position: relative;
  }
  
  .email-input {
    width: 65%;
    padding: 10px;
    border-radius: 6px;
    margin-left: 75px;
    margin-top: 10px;
    border: 1px solid lightgray;
  }
  
  .email-input:focus {
    border-color: rgb(102, 18, 180) !important; /* Set border color for focused state */
    outline: none;
    color: black;
  }
  
  /* .email-input label {
    position: absolute;
    top: 10px;
    left: 15px;
    color: gray;
    font-size: 16px;
    transition: top 0.3s, font-size 0.3s, color 0.3s;
  } */
  
 
  
  .send-otp-button {
  width: 65%;
  margin-top: 20px;
  margin-left: 80px;
  border: 1px solid lightgrey;
  background-color:rgb(156, 59, 225);
  border-radius: 5px;
  height: 45px;
  text-decoration: lightgray;
  color:white;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }


  @media screen and (max-width: 768px) {
    .forgotimg{
      flex: none;
      /* width: 160% !important; */
      max-height: 1000px !important;
      margin-top: 2px !important;
      width: 600px !important; /* Set a fixed width */
    height: 600px;
    }
  } 
  
  @media screen and (min-width: 769px) {
    .forgotimg{
      flex: none;
      /* width: 160% !important; */
      max-height: 1000px !important;
      margin-top: 2px !important;
      width: 200% !important; 
      max-width: 125% !important;
    height: 700px !important;
    }
  }
  
  /* Media query for medium screens */
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .forgotimg{
      flex: none;
      /* width: 160% !important; */
      max-height: 1000px !important;
      margin-top: 2px !important;
      width: 800px; /* Set a fixed width */
    height: 600px;
    }
  }

  